.heart {
  position: relative;
  width: 200px;
  height: 200px;
  margin-left: 300px;
  margin-top: 200px;
  background-color: brown;
}
.heart > * {
  width: 200px;
  height: 200px;
}
.circle {
  border-radius: 50%;
  position: absolute;
}
.circle1 {
  bottom: 50%;
  left: 0;
}
.circle2 {
  left: 50%;
  top: 0;
}
